.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1{
  text-align: center;
}
.table{
  width:70%;
  border: 1px solid black;
  border-collapse: separate;
  padding-top: 10px;
  padding-bottom: 40px;

  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.button{
  width:70%;
  display :flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}
th{
  text-align: center;
}
td{
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
